*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    height: auto;
    box-shadow: 5px 5px 20px;
    margin: 0 auto;
    margin-top: 55px;
}
.nav{
    height: 50px;
    text-align: center;
}
.nav__logo{
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
}
.nav__items{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: -80px;
    list-style: none;
    
}
.nav__item{
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Readex Pro', sans-serif;
}
.nav__item__a{
    text-decoration: none;
    color: grey;
}
.main-home{
    margin-top: 200px;
}
.main-home__h2{
    text-align: center;
    color: gray;
    display: flex;
    justify-content: start;
    margin-left: 100px;
    font-family: 'Readex Pro', sans-serif;
    font-size: 30px;
}
.main-home__h1{
    text-align: center;
    color: grey;
    display: flex;
    justify-content: start;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.main-home__p{
    text-align: center;
    display: flex;
    justify-content: start;
    margin-left: 100px;
    font-family: 'Nunito', sans-serif;
    color: gray;
    font-size: 20px;
}
.main-home__button{
    margin-top: 15px;
    margin-left: 100px;
    width: 190px;
    height: 50px;
    background: black;
    border:2px solid black ;
    display: flex;
    justify-content: start;
    border-radius: 7px;
    text-align: center;
    padding-left: 33px;
    padding-top: 10px;
}
.main-home__a{
    font-size: 17px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.img__index__main-home{
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: flex-end;
    margin-top: -340px;
    margin-left: 950px;
    
}
.main-about{

}
