*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    height: auto;
    box-shadow: 5px 5px 20px;
    margin: 0 auto;
    margin-top: 55px;
}
.line{
    margin-top: 40px;
    width: 100%;
    height: 5px;
    background: rgb(186,186,186);
background: linear-gradient(54deg, rgba(186,186,186,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
}
.nav{
    height: 50px;
    text-align: center;
}
.nav__logo{
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
}
.nav__items{
    display: flex;
    justify-content: end;
    margin-right: 35px;
    margin-top: -80px;
    list-style: none;
    
}
.nav__item{
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Readex Pro', sans-serif;
}
.nav__item__a{
    text-decoration: none;
    color: grey;
}
.nav__item__a:hover{
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

.main-home{
    margin-top: 200px;
}
.main-home__h2{
    text-align: center;
    color: gray;
    display: flex;
    justify-content: start;
    margin-left: 100px;
    font-family: 'Readex Pro', sans-serif;
    font-size: 30px;
}
.main-home__h1{
    text-align: center;
    color: grey;
    display: flex;
    justify-content: start;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.main-home__p{
    text-align: center;
    display: flex;
    justify-content: start;
    margin-left: 100px;
    font-family: 'Nunito', sans-serif;
    color: gray;
    font-size: 20px;
}
.main-home__button{
    margin-top: 15px;
    margin-left: 100px;
    width: 190px;
    height: 50px;
    background: black;
    border:2px solid black ;
    display: flex;
    justify-content: start;
    border-radius: 7px;
    text-align: center;
    padding-left: 33px;
    padding-top: 10px;
}
.main-home__button:hover{
    background: grey;
}
.main-home__a{
    font-size: 17px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.img__index__main-home{
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: flex-end;
    margin-top: -340px;
    margin-left: 950px;
    
}
.main-about2{
    margin-top: -540px;
}
.img__index__main-about{
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 50px;
}
.main-about__h1{
    color: black;
    display: flex;
    justify-content: start;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px;
}
.main-about__p1{
    display: flex;
    justify-content: start;
    font-family: 'Nunito', sans-serif;
    color: gray;
    font-size: 15px;
    margin-left: 84px;
}
.main-about__h2{
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.main-about__p2{
    margin-top: 50px;
    margin-left: 410px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color: gray;
    font-size: 19px;
}
.main_about__h3{
    color: black;
    display: flex;
    justify-content: start;
    margin-left: 408px;
    font-family: 'Readex Pro', sans-serif;
    font-size: 30px;
    margin-top: 30px;
}
.main-about__p3{
    display: flex;
    justify-content: start;
    font-family: 'Nunito', sans-serif;
    color: gray;
    font-size: 20px;
    margin-left: 409px;
}

.main-skills{
    width: 100%;
}
.block{
    display: block;
    margin-left: 50px;
}
.skills__blocks{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px;
    column-gap: 100px;
    row-gap: 40px;
    margin: 0 auto;
    margin-left: -20px;
}
.main-skills__h1{
    margin-top: 40px;
    text-align: center;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
img{
    width: 120px;
    height: 120px;
}
.main-skills__block__h1{
    margin-left: -45px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: gray;
    font-weight: bold;
}

.main-projects__h1{
    margin-top: 40px;
    text-align: center;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.projects{
    display: flex;
    width: 450px;
    justify-content: space-between;
}
.projects__blocks{
   margin-left: 150px;
   margin-top: 40px;
}
.main-rojects__a{
    text-decoration: none;
    color: gray;
    font-family: 'Readex Pro', sans-serif;
    font-size: 45px;
    font-weight: bold;
}
.main-rojects__a:hover{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
.main-projects__p1{
    color: black;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}
.main-projects__p2{
    color: gray;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
.main-project__p3{
    color: gray;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}
.main-project__img{
    display: flex;
    width: 250px;
    height: 140px;
    margin-top: 15px;
}
.main-contact{
    padding-top: 50px;
    width: 1200px;
}
.main-contact-center{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 150px 400px;
    column-gap: 170px;
    row-gap: 30px;
    padding-bottom: 80px;
}
.title-contact{
    margin-top: 40px;
    text-align: center;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: 200px;
}
.lines-text{
    display: flex;
    margin-left: 450px;
    flex-direction: column;
    padding-top: 30px;
}
.send{
    width: 120px;
    height: 30px;
    border: 2px solid black;
    border-radius: 0.25rem;
    background: none;
    color: black;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 170px;
}
.send:hover{
    background: black;
    color: white;
}
.input-name{
    width: 500px;
    background-color: grey;
    border-radius: 0.25rem;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input-email{
    width: 500px;
    background-color: grey;
    border-radius: 0.25rem;
    border: 1px solid black;
    margin-top: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input-text{
    width: 500px;
    height: 100px;
    background-color: grey;
    border-radius: 0.25rem;
    border: 1px solid black;
    margin-top: 15px;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea{
     overflow: auto;
    resize: vertical;
    color: white;
    font-family: "montserrat" ,sans-serif; 
}
.footer{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer__p{
    text-align: center;
    color: black;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    font-size: 20px;
}